* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* document body style */
body {
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
	background-color: lightblue;
	border: 1.4em solid rgb(247, 243, 243);
}
/* body queries for small devices */
@media only screen and (max-width:768px) {
	body {
	  background-color: lightblue;
	}
}  
@media only screen and (max-width:414px) {
	body {
	  background-color: lightblue;
	}
}  
@media only screen and (max-width:376px) {
	body {
	  background-color: lightblue;
	}
}  
@media only screen and (max-width:320px) {
	body {
	  background-color: lightblue;
	}
	body {
		border:none;
	}
}  
/* Navigation bar style */
.logo {
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	border: 0 1px solid rgb(2, 87, 2);
	box-shadow: 3px 5px rgb(2, 65, 2);
}
#navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.7em;
	background-color: rgb(247, 243, 243);
	color: rgb(1, 27, 1);
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
}
.menu li {
	float: left;
	list-style-type: none;
	text-align: center;
}
li a {
	display: block;
	align-content: center;
	text-decoration: none;
	font-weight: bolder;
	padding: 10px;
	color: black;
}
.menu li:hover a {
	color: red;
}
/* Search section to search a specific meal */
#searchMenu {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15em;
}
.banner {
	width: 100%;
	height: 100%;
}
#searchMeal {
	background-color: rgb(247, 243, 243);
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;	
	font-family: "Courier New", Courier, monospace;
	border: none;
	color: rgb(1, 27, 1);
	font-weight: bold;
	font-size: 1rem;
	height: 2.3em;
	width: 17em;
	padding: 0.8em;
	cursor: pointer;
}
/* media queri for small devices to make search responsive */
@media only screen and (max-width:540px) {
	#searchMeal {
		width: 14.5em;		
	}
}
@media only screen and (max-width:414px) {
	#searchMeal {
		width: 14em;		
	}
}
@media only screen and (max-width:376px) {
	searchMeal {
	  width: 14em;
	}
}
@media only screen and (max-width:320px) {
	#searchMeal {
	  width: 14em;
	}
  }
@media only screen and (max-width:280px) {
	#searchMeal {
		width: 12em;		
	}
}
input:focus {
    outline: none !important;
}
#searchBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	cursor: pointer;
	height: 2.3em;
	width: 3em;	
}
#searchBtn img {
	margin: 1em;
	width: 1em;
}
#navBar input:focus,
#searchBtn button:focus {
	outline: none;
}
/* main section style, section displays all meals*/
.mainSection {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0.2em;
}
/* meal card style, which represents a meal */
.mealCard {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;	
	width: 20em;
	height: 35em;
	padding: 2em;
	color: rgb(104, 18, 18);
	font-family: "Courier New", Courier, monospace;
	background-color: rgb(247, 243, 243);
	border-radius: 2em;
	margin-bottom: 4em;
}
@media only screen and (max-width:768px) {
	.mainSection {
	  width: 100%;
	}
	.mealCard {
		width: 18em;
		height: 37em;
		margin-bottom: 2.5em;
	}
}
@media only screen and (max-width:414px) {
	.mealCard {
		height: 37em;
	}
}
@media only screen and (max-width:376px) {
	.mealCard {
		margin-bottom: 1.5em;
	}
}
@media only screen and (max-width:320px) {
	.mainSection {
	  width: 100%;
	}
	.mealCard {
		width: 17em;
		margin-bottom: 1.7em;		
	}
}
@media only screen and (max-width:280px) {
	.mealCard {
		width: 15em;
		height: 38em;
		margin-bottom: 1.7em;		
	}
}
.mealHeader {
	text-transform: capitalize;
	font-size: 1.3rem;
	border-radius: 2rem;
	color: black;
	text-align: left;
	font-weight: bold;
	margin-bottom: 1em;
}
.mealHeader {
	text-decoration: none !important;
}
/* description and image section in the meal card */
.description {
	font-size: 0.9rem;
	font-weight: bold;
	line-height: 1.2rem;
}
.image {
	margin-top: 1em;
	width: 100%;
	height: 15em;
	border-radius: 3em;
	padding: 2em;
	transition: transform 0.2s;
}
.image:hover {
	transform: scale(1.3);
}
/* review button style in the meal card */
.reviewBtnSection {
	margin-top: 0.5em;
	height: 2.5em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reviewBtn {
	line-height: 7vw;
	width: 100%;
	padding: 0.5em 2.5em;
	background-color: rgb(1, 27, 1);
	color: white;
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: bold;
	border: none;
	border-radius: 1em;
	cursor: pointer;
}
.reviewBtn:focus {
	outline: none !important;
}
.reviewBtn:hover {
	padding: 0.6em 2.7em;
}
/* reservation button style  */
.reserveBtnSection {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;	
	height: 2.5em;
	margin-top: 1em;
}
.reserveBtnSection a {
	text-decoration: none;
}
#reserveBtn {
	margin: 0.2em;
}
#reserveBtn,
#reserveMeal {
	padding: 0.6em 1em;
	font-size: 0.8rem;
	font-weight: bold;
	background-color: rgb(1, 27, 1);
	font-family: "Courier New", Courier, monospace;
	color: white;
	border: none;
	text-decoration: none;
	cursor: pointer;
	border-radius: 1em;
}
#reserveBtn:hover,
#reserveMeal:hover {
	padding: 0.7em 1.1em;
}
#reserveBtn:focus, 
#reserveMeal:focus {
	outline: none !important;
}
/* in meal card, styling back to all meals button */
.backToAll {
	padding: 0.6em 1.5em;
	font-size: 0.8rem;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	background-color: rgb(1, 27, 1);
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 1em;
	margin-right: 0.2em;
}
.backToAll:focus {	
	outline: none !important;
}
.backToAll:hover {
	padding: 0.7em 1.6em;
}
/* styles for a button in forms section to go back to all meals  */
.toAll {
	display: block;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.toAll:hover {
	padding: 5px 5px;
}
/* styles for the form for reviews and meal reservations */
.form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	line-height: 4em;
	font-size: 17px;
	font-family: "Courier New", Courier, monospace;
	margin-bottom: 5em;
}
.inputfieldClass {
	text-align: center;
}
#form {
	visibility: hidden;
}
.formHeader {
	text-align: center;
	font-size: 1.5rem;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}
.input {
	background-color: rgb(247, 243, 243);
	width: 15em;
	height: 2.5em;
	margin: 1em;
	padding: 0.8em;
	border-radius: 5px;
	border: none;
}
/* styling buttons for submitting reservations and reviews */
#sendReservation,
#sendReview {
	margin-top: 3%;
	padding: 0.3em 2em;
	border-radius: 1em;
	font-weight: bold;
	font-size: 1.2rem;
	font-family: "Courier New", Courier, monospace;
	background-color: rgb(247, 243, 243);
	border: none;
	cursor: pointer;
}
#sendReservation:hover,
#sendReview:hover {
	padding: 0.4em 3em;
}
#sendReservation:focus,
#sendReview:focus {
	outline: none !important;
}
#message {
	color: black;
	font-weight: bold;
}
/* styling review section where all reviews are being rendered */
.reviewSection {
	width: 100%;
	padding: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* styles for a review */
.review {
	width: 30em;
	font-weight: bold;
	line-height: 1.4rem;
	margin-bottom: 1em;
}
.reviewHeader {
	background-color:  rgb(247, 243, 243);
	padding: 0.6em;
	margin-bottom: 0.5em;
	font-weight: bolder;
	font-size: 1.3rem;
	font-family: "Courier New", Courier, monospace;
}
footer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	background-color: rgb(247, 243, 243);
	color: black;
	justify-content: space-between;
}
.copyRight {
	border-radius: 50%;
}
